# Ignore large folders and unnecessary files
data/test.duckdb/
data/train.duckdb/
data/validation.duckdb/
models/
whisper-lux/
venv/
preprocessed_test/
preprocessed_train/
preprocessed_validation/
whisper/
whisper-lux-final/